/* *, ::before, ::after {
  padding: 0;
  margin: 0;
} */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

blockquote {
  margin: 0;
}

cite {
  font-style: normal;
}

textarea {
  resize: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.wrapper-outer {
  padding: 0 2rem;
}

.wrapper-inner {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 0 10rem 0;
}

.logo {
  display: block;
  width: 5.4rem;
  height: 2rem;
}
.logo svg {
  width: 5.4rem;
  height: 2.4rem;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2 {
  color: #112B3C;
}

.l2-title {
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 6.4rem;
}

.l3-title {
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 400;
  color: #828282;
}

img {
  display: block;
}

input::-moz-placeholder {
  color: #BDBDBD;
}

input::placeholder {
  color: #BDBDBD;
}

textarea::-moz-placeholder {
  color: #BDBDBD;
}

textarea::placeholder {
  color: #BDBDBD;
}

.menu {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
  position: fixed;
  top: 0;
  width: calc(100% - 4rem);
  background-color: #FFFFFF;
  z-index: 20;
}
.menu .wrapper-inner {
  padding: 0;
}
.menu__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.menu__logo-container {
  flex: 0 1 27%;
}
.menu__navigation {
  display: flex;
  justify-content: space-between;
  height: 2rem;
}
.menu__navigation_s {
  flex: 0 1 27%;
  justify-content: flex-end;
  height: 4rem;
}
.menu__navigation ul {
  font-size: 1.6rem;
  line-height: 2rem;
  color: #112B3C;
  white-space: nowrap;
}
.menu__link {
  display: inline;
  margin: 0 4rem 0 0;
}
.menu__link:last-child {
  margin: 0;
}
.menu__link a {
  transition: 0.2s;
}
.menu__link a svg {
  stroke: #112B3C;
  margin-left: 1rem;
  transition: 0.2s;
}
.menu__link a:hover {
  color: #F66B0E;
}
.menu__link a:hover svg {
  stroke: #F66B0E;
}
.menu__link_button a {
  display: inline-block;
  width: 11rem;
  height: 4rem;
  line-height: 4rem;
  color: #FFFFFF;
  background-color: #F66B0E;
  text-align: center;
  transition: 0.2s;
}
.menu__link_button a:hover {
  background-color: #d85c08;
  color: #FFFFFF;
}
.menu__icon {
  display: none;
  position: absolute;
  top: 32%;
  right: 2rem;
}

.dropmenu {
  position: relative;
}
.dropmenu ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0%;
  top: 3rem;
  background-color: #FFFFFF;
  width: 9rem;
  padding: 0 0.5rem;
  transition: 0.2s;
}
.dropmenu ul li {
  margin: 1rem 0;
}
.dropmenu:hover ul {
  visibility: visible;
  opacity: 1;
}

.icon-menu {
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
}
.icon-menu span {
  display: block;
  position: absolute;
  opacity: 1;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #F66B0E;
  border-radius: 10px;
  transition: 0.25s ease-in-out;
}
.icon-menu span:nth-child(1) {
  top: 0px;
}
.icon-menu span:nth-child(2) {
  top: 10px;
}
.icon-menu span:nth-child(3) {
  top: 20px;
}
.icon-menu__bar {
  transform-origin: left;
}

@media (max-width: 900px) {
  .menu__container {
    justify-content: flex-start;
  }
  .menu__icon {
    display: flex;
    z-index: 5;
  }
  .menu .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 7rem 0 0 5rem;
    background-color: #FFF8F0;
    transform: translate3d(0px, -100%, 0px);
    transition: all 0.3s ease 0s;
  }
  .menu .navigation ul .menu__link {
    display: block;
    margin: 0 4rem 3rem 0;
    font-size: 3rem;
  }
  .menu .navigation ul .menu__link ul {
    width: 13rem;
    font-size: 2.5rem;
  }
  .menu .navigation ul .menu__link ul li {
    line-height: 3rem;
  }
  .menu .navigation.active {
    transform: translate3d(0px, 0px, 0px);
  }
  .icon-menu.active span {
    background-color: #112B3C;
  }
  .icon-menu.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 4px;
  }
  .icon-menu.active span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }
  .icon-menu.active span:nth-child(3) {
    transform: rotate(-45deg);
    top: 21px;
    left: 4px;
  }
}
@media (max-width: 430px) {
  .menu__navigation_s {
    display: none;
  }
}
.hero {
  padding: 16rem 0 0 0;
  background-color: #FFFFFF;
}
.hero__titles {
  max-width: 97rem;
  text-align: center;
  margin: 0 auto;
  padding: 0 2rem 0 2rem;
}
.hero__title {
  font-size: 9.6rem;
  line-height: 9.6rem;
}
.hero__arrow {
  position: absolute;
  top: -28rem;
  left: 76rem;
}
.hero__subtitle {
  max-width: 76.6rem;
  margin: 0 auto;
  padding-top: 4.4rem;
}
.hero__search {
  padding-top: 4rem;
  max-width: 77.7rem;
  margin: 0 auto;
}
.hero form {
  position: relative;
}
.hero__image {
  background-image: url("../img/hero.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: -15rem 0 0 0;
}

.search__input {
  box-sizing: border-box;
  width: 100%;
  height: 10rem;
  border: none;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.12);
  padding: 0 4.7rem;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #828282;
  outline: none;
}
.search__input:focus {
  border: 1px solid #F66B0E;
}
.search__button {
  position: absolute;
  top: 37%;
  right: 4rem;
  border: none;
  background-color: transparent;
  z-index: 3;
  cursor: pointer;
}

@media (max-width: 430px) {
  .hero {
    padding: 9.6rem 0 0 0;
  }
  .hero__title {
    font-size: 6rem;
    line-height: 6rem;
  }
  .hero__image {
    background-position: 68% 75%;
  }
  .search__input {
    font-size: 1.3rem;
  }
}
@media (max-width: 900px) {
  .hero__image {
    background-position: 68% 75%;
  }
}
@media (max-width: 1180px) {
  .hero__arrow {
    display: none;
  }
}
.about {
  padding: 10rem 2rem 0 2rem;
  background-color: #FFFFFF;
}
.about__grid-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 3rem;
}
.about__subtitle {
  padding: 2.4rem 0 0 0;
  max-width: 47rem;
}
.about__steps {
  grid-template-rows: repeat(2, 1fr);
  padding: 8rem 0 0 0;
}
.about__images {
  padding: 13.6rem 0 0 0;
}
.about__images__lc {
  padding: 7.6rem 0 0 0;
  grid-template-rows: 37rem 15.7rem;
}
.about__images__rc {
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  padding-bottom: 7.6rem;
}
.about__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.step__num {
  color: #F66B0E;
}
.step__title {
  padding-top: 1.8rem;
  font-size: 2.4rem;
  line-height: 2.4rem;
  color: #000000;
}
.step__text {
  padding-top: 1.8rem;
  color: #BDBDBD;
}

@media (max-width: 550px) {
  .about__images {
    padding-top: 8.6rem;
  }
  .about__images__lc {
    padding-top: 0rem;
  }
}
.products {
  background-color: #FFFFFF;
}
.products__title {
  text-align: center;
  padding: 0 0 4rem 0;
}
.products .p-nav {
  text-align: center;
  max-width: 54.4rem;
  margin: 0 auto;
}
.products .p-nav ul {
  color: #828282;
  display: flex;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  flex-wrap: wrap;
  justify-content: center;
}
.products .p-nav__item {
  display: block;
}
.products .p-nav__item_active {
  color: #F66B0E;
}
.products__container {
  padding-top: 7.6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 27rem));
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  row-gap: 5rem;
  justify-content: center;
}
.products .product-item__image {
  height: 26.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  background-image: linear-gradient(to top, #FFF8F0 41.666%, rgba(0, 0, 0, 0) 20%);
}
.products .product-item__image img {
  max-width: 23rem;
}
.products .product-item a {
  display: block;
}
.products .product-item__back {
  width: 100%;
  height: 11rem;
  background-color: #FFF8F0;
}
.products .product-item__info {
  padding: 0 2.2rem 2.2rem 2.2rem;
  background-color: #FFF8F0;
}
.products .product-item__title {
  padding: 0 0 0.2rem 0;
  font-size: 2.4rem;
  line-height: 3.84rem;
  color: #112B3C;
}
.products .product-item__price {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 2.56rem;
  color: #112B3C;
  position: relative;
  width: 100%;
}
.products .product-item__price::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0;
  width: 2.4rem;
  height: 2.4rem;
  background-image: url("../img/products/arrow-right.svg");
}

.testimonials {
  background-color: #112B3C;
}
.testimonials .wrapper-inner {
  padding-bottom: 12.6rem;
}
.testimonials__title {
  color: #FFFFFF;
  padding: 8rem 0 6rem 0;
}
.testimonials .slide {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: 3rem;
}
.testimonials .slide__column_r {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.testimonials .slide__image {
  display: flex;
  justify-content: center;
  position: relative;
}
.testimonials .slide__image::before {
  content: "";
  width: 16.5rem;
  height: 16.5rem;
  background-image: url("../img/Star.svg");
  position: absolute;
  top: 35.5rem;
  left: 7rem;
  background-repeat: no-repeat;
}
.testimonials .slide__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 37rem;
}
.testimonials .slide__text {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  max-width: 47rem;
  position: relative;
}
.testimonials .slide__text::before {
  content: "";
  width: 6rem;
  height: 6rem;
  background-image: url("../img/quote-up.svg");
  position: absolute;
  top: -6rem;
}
.testimonials .slide__par {
  color: #BDBDBD;
  padding: 0.3rem 0;
}
.testimonials .slide__title {
  font-weight: 700;
  color: #FFFFFF;
  font-size: 3.6rem;
  line-height: 4.525rem;
}
.testimonials .slide__c-name {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  color: #F66B0E;
  padding: 0 0 0.8rem 0;
}
.testimonials .slide__c-position {
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #BDBDBD;
}
.testimonials .slide__navigation {
  max-width: 47rem;
  padding: 6.7rem 0 0 0;
  text-align: right;
}
.testimonials .slide__navigation a {
  display: inline-block;
  width: 3.2rem;
  height: 3.2rem;
}
.testimonials .slide__left {
  padding-right: 1.2rem;
}

@media (max-width: 1110px) {
  .slide__image::before {
    display: none;
  }
}
@media (max-width: 430px) {
  .slide__text {
    top: 5rem;
  }
}
.contact {
  padding-top: 10rem;
  background-color: #FFFFFF;
}
.contact__grid-row_l {
  padding: 2.8rem 0;
}
.contact__images {
  padding: 0 0 0 0;
}
.contact__images__rc {
  padding-right: 10rem;
}
.contact__form-wrapper {
  padding: 4rem 0 0 0;
}
.contact .form {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.contact .form input, .contact .form textarea {
  width: 100%;
  height: 6rem;
  margin: 0;
  padding: 2rem 2.1rem;
  box-sizing: border-box;
  font-size: 1.6rem;
  line-height: 2.011rem;
  color: #828282;
  outline: none;
  border: 1px solid #112B3C;
}
.contact .form input:focus, .contact .form textarea:focus {
  border: 1px solid #F66B0E;
}
.contact .form__row_dbl {
  display: flex;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}
.contact .form__row_dbl input {
  flex: 0 1 27rem;
}
.contact .form #message {
  height: 18rem;
}
.contact .form #submit-c {
  border: none;
  color: #FFFFFF;
  background-color: #F66B0E;
  cursor: pointer;
}
.contact .form #submit-c:hover {
  background-color: #d85c08;
  color: #FFFFFF;
}

@media (max-width: 600px) {
  .form__row_dbl {
    flex-wrap: wrap;
    row-gap: 2rem;
  }
  .form__row_dbl #fname, .form__row_dbl #lname {
    flex: 0 1 100%;
  }
}
@media (max-width: 850px) {
  .contact {
    padding-top: 7rem;
  }
  .contact__images__rc {
    display: none;
  }
}
.footer {
  color: #112B3C;
  background-color: #FFF8F0;
}
.footer .wrapper-inner {
  padding: 8rem 0 1.8rem 0;
}
.footer__container {
  padding-right: 8.6rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5.5rem;
}
.footer__address {
  padding-right: 15rem;
}
.footer__address p {
  line-height: 160%;
}
.footer__copyright {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.footer-column {
  flex: 0 0 17%;
  font-size: 2rem;
}
.footer-column a, .footer-column p, .footer-column h5 {
  margin-bottom: 1.8rem;
}
.footer-column__title {
  line-height: 3.2rem;
}
.footer-column__link {
  line-height: 2.5rem;
}

@media (max-width: 900px) {
  .footer__container {
    flex-direction: column;
  }
  .footer__address {
    padding-right: 0;
  }
}
@media (max-width: 430px) {
  .wrapper-inner {
    padding-bottom: 3rem;
  }
  .l2-title {
    font-size: 4.4rem;
    line-height: 4.4rem;
  }
}