$fw-regular: 400;
$fw-bold: 700;

$col-primary: #112B3C;
$col-ondark: #FFFFFF;
$col-accent: #F66B0E;
$col-secondary: #828282;
$col-light: #BDBDBD;
$col-darkest: #000000;
$col-background: #FFF8F0;

$pad-interblock: 10rem;
$pad-interlinks: 4rem;
$pad-outer: 2rem;
$pad-inner: 8rem;

$hov-transition: 0.2s;
