@import 'mixins';
@import 'variables';
@import 'myreset';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

// ===  COMMON  ===
html {
	//now, our font size default is 10px;
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
	@include Sanspro;
	font-weight: $fw-regular;
}
.wrapper-outer {
	padding: 0 2rem;
}
.wrapper-inner {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 0 $pad-interblock 0;
}
.logo {
	display: block;
	width: 5.4rem;
	height: 2rem;
	& svg {
		width: 5.4rem;
		height: 2.4rem;
	}
}
a {
	text-decoration: none;
	color: inherit;
}
h1, h2 {
	color: $col-primary;
}
.l2-title {
	font-weight: $fw-bold;
	font-size: 6.4rem;
	line-height: 6.4rem;
}
.l3-title {
	font-size: 2rem;
	line-height: 3.2rem;
	font-weight: $fw-regular;
	color: $col-secondary;
}
img { 
	display: block; 
}
input::placeholder {
	color: $col-light;
}
textarea::placeholder {
	color: $col-light;
}
// === / COMMON  ===

// === NAVIGATION MENU ===
.menu {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
	position: fixed;
	top: 0;
	width: calc(100% - $pad-outer * 2);
	// overflow: hidden; ?? obstacle to dropdown menu
	background-color: $col-ondark;
	z-index: 20;
	& .wrapper-inner {
		padding: 0;
	}
	&__container {
		@include flexbox();
		justify-content: space-between;
		align-items: center;
		padding: 2rem 0;
	}
	&__logo-container {
		flex: 0 1 27%;
	}
	&__navigation {	
		@include flexbox();
		justify-content: space-between;
		height: 2rem;
		&_s {
			flex: 0 1 27%;
			justify-content: flex-end;
			height: 4rem;
		}
		& ul {
			font-size: 1.6rem;
			line-height: 2rem;
			color: $col-primary;
			white-space: nowrap;
		}
	}
	&__link {
		display: inline;
		margin: 0 $pad-interlinks 0 0;
		&:last-child {
			margin: 0;
		}
		& a {
			transition: $hov-transition;
			& svg {
				stroke: $col-primary;
				margin-left: 1rem;
				transition: $hov-transition;
			}
			&:hover {
				color: $col-accent;
				& svg {
					stroke: $col-accent;
				}
			}
		}
		&_button {
			& a {
				display: inline-block;
				width: 11rem;
				height: 4rem;
				line-height: 4rem;
				color: $col-ondark;
				background-color: $col-accent;
				text-align: center;
				transition: $hov-transition;
				&:hover {
					background-color: darken($col-accent, 7%);
					color: $col-ondark;
				}
			}
		}
		&_drop {

		}
	}
	&__icon { // Hamburger menu icon default position and display
		display: none;
		position: absolute;
		top: 32%;
    right: $pad-outer;
	}
}	
.dropmenu {
	position: relative;
	& ul {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		left: 0%;
    top: 3rem;
		background-color: $col-ondark;
		width: 9rem;
		padding: 0 0.5rem;	
		transition: $hov-transition;
		& li {
			margin: 1rem 0;
		}
	}
	&:hover ul {
		visibility: visible;
		opacity: 1;
	}
}
.icon-menu { // Hamburger menu icon appearance
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
  cursor: pointer;
	& span{
		display: block;
		position: absolute;
		opacity: 1;
		left: 0;
		height: 2px;
		width: 100%;
		background-color: $col-accent;
		border-radius: 10px;
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
		&:nth-child(1){
			top: 0px;
		}
		&:nth-child(2){
			top: 10px;
		}
		&:nth-child(3){
			top: 20px;
		}
	}
		&__bar{
			-webkit-transform-origin: left;
			-moz-transform-origin: left;
			-o-transform-origin: left;
			transform-origin: left;
		}
}
// === Mobile menu ===
@media (max-width: 900px) {
	.menu {
			&__container {
				justify-content: flex-start;
			}	
			&__icon {
				display: flex;
				z-index: 5;
			}
			& .navigation{
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				overflow: auto;
				padding: 7rem 0 0 5rem;
				background-color: $col-background;
				transform: translate3d(0px, -100%, 0px);
				transition: all 0.3s ease 0s;
				& ul {
					& .menu__link {
						display: block;
						margin: 0 4rem 3rem 0;
						font-size: 3rem;					
						& ul {
							width: 13rem;
							font-size: 2.5rem;
							& li {
								line-height: 3rem;
							}
						}
					}
				}
				&.active {
					transform: translate3d(0px, 0px, 0px);
				}
			}
			&__link {

			}
	}
	.icon-menu { // Hamburger menu icon active state
		&.active{
			& span{
				background-color: $col-primary;
				&:nth-child(1){
					-webkit-transform: rotate(45deg);
					-moz-transform: rotate(45deg);
					-o-transform: rotate(45deg);
					transform: rotate(45deg);
					top: 0px;
					left: 4px;
				}
				&:nth-child(2){
					width: 0%;
					opacity: 0;
				}
				&:nth-child(3){
					-webkit-transform: rotate(-45deg);
					-moz-transform: rotate(-45deg);
					-o-transform: rotate(-45deg);
					transform: rotate(-45deg);
					top: 21px;
					left: 4px;
				}
			}
		}
	}
}
@media (max-width: 430px) {
	.menu {
		&__navigation {
			&_s {
				display: none;
			}
		}
	}
}
// === / NAVIGATION MENU ===
// === HERO ===
.hero {
	padding: $pad-inner * 2 0 0 0;
	background-color: $col-ondark;
	&__titles {
		max-width: 97rem;
		text-align: center;
		margin: 0 auto;	
		padding: 0 $pad-outer 0 $pad-outer ;
	}
	&__title {
		font-size: 9.6rem;
		line-height: 9.6rem;		
	}
	&__arrow {
		position: absolute;
    top: -28rem;
    left: 76rem;
	}
	&__subtitle {
		max-width: 76.6rem;
		margin: 0 auto;
		padding-top: 4.4rem;
	}
	&__search {
		padding-top: $pad-interlinks;
		max-width: 77.7rem;
    margin: 0 auto;
	}
	& form {
		position: relative;
	}
	&__image {
		background-image: url("../img/hero.png");
		height: 100vh;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		margin: -15rem 0 0 0;
	}
}	
.search {
	&__input {
		box-sizing: border-box;
		width: 100%;
		height: 10rem;
		border: none;
		box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.12);
		padding: 0 4.7rem;
		font-size: 2rem;
		line-height: 2.5rem;
		color: $col-secondary;
		outline: none;
		&:focus {
			border: 1px solid $col-accent;			
		}
	}
	&__button {
		position: absolute;
    top: 37%;
    right: 4rem;
		border: none;
		background-color: transparent;
		z-index: 3;
		cursor: pointer;
	}
}
@media (max-width: 430px) {
	.hero {
		padding: $pad-inner * 1.2 0 0 0;
		&__title {
			font-size: 6rem;
			line-height: 6rem;
		}
		&__image {
			background-position: 68% 75%;
		}
	}
	.search {
		&__input {
			font-size: 1.3rem;
		}
	}
}
@media (max-width: 900px) {
	.hero {
		&__image {
			background-position: 68% 75%;
		}
	}
}
@media (max-width: 1180px) {
	.hero {
		&__arrow {
			display: none;
		}
	}
}
// === / HERO ===
// === ABOUT ===
.about {
	padding: $pad-interblock $pad-outer 0 $pad-outer;
	background-color: $col-ondark;
		&__grid-row {
			@include grid-c-20;
		}
		&__subtitle {
			padding: 2.4rem 0 0 0;
			max-width: 47rem;
		}
		&__steps {
			grid-template-rows: repeat(2, 1fr);
			padding: 8rem 0 0 0;
		}
		&__images {
			padding: 13.6rem 0 0 0;
			&__lc {
				padding: $pad-tb 0 0 0;
				grid-template-rows: 37rem 15.7rem;
			}
			&__rc {
				grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
				padding-bottom: $pad-tb;
			}
		}
		&__image {
			& img {
				width: 100%;
				// commented because of sizing bugs
				height: 100%;
				object-fit: cover;
			}
		}
}
.step {
		&__num {
			color: $col-accent;
		}
		&__title {
			padding-top: 1.8rem;
			font-size: 2.4rem;
			line-height: 2.4rem;
			color: $col-darkest;
		}
		&__text {
			padding-top: 1.8rem;
			color: $col-light;
		}
}
@media (max-width: 550px) { //930
	.about {
		&__images {
			padding-top: 8.6rem;
			&__lc {
				padding-top: 0rem;
			}
		}
	}
}
// === / ABOUT ===
// === PRODUCTS ===
.products {
	background-color: $col-ondark;
	&__title {
		text-align: center;
    padding: 0 0 $pad-interlinks 0;
	}	
	.p-nav {
		text-align: center;
		max-width: 54.4rem;
		margin: 0 auto;
			& ul {
				color: $col-secondary;			
				display: flex;
				column-gap: 4rem;
				flex-wrap: wrap;
				justify-content: center;
			}
			&__item {
				display: block;
				&_active {
					color: $col-accent;
				}
			}
	}
	&__container {
		padding-top: $pad-tb;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(20rem, 27rem));
		column-gap: 3rem;
		row-gap: 5rem;
		justify-content: center;
	}
	.product-item {
			&__image {
				height: 26.4rem;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: $col-ondark; 
				background-image: linear-gradient(to top, $col-background 41.666%, rgba(0,0,0,0) 20%); 
				& img {
					max-width: 23rem;
				}
			}
			& a {
				display: block;
			}
			&__back {
				width: 100%;
				height: 11rem;
				background-color: $col-background;
			}
			&__info {
				padding: 0 2.2rem 2.2rem 2.2rem;
				background-color: $col-background;
			}
			&__title {
				padding: 0 0 0.2rem 0;
				font-size: 2.4rem;
				line-height: 3.84rem;
				color: $col-primary;
			}
			&__price {
				display: inline-block;
				font-size: 1.6rem;
				line-height: 2.56rem;
				color: $col-primary;
				position: relative;
				width: 100%;
				&::after {
					content: "";
					display: inline-block;
					position: absolute;
					right: 0;
					width: 2.4rem;
					height: 2.4rem;
					background-image: url("../img/products/arrow-right.svg");
				}
			}
	}
}		
// === / PRODUCTS ===
// === TESTIMONIALS ===
.testimonials {
	background-color: $col-primary;
	& .wrapper-inner {
		padding-bottom: $pad-interblock * 1.26;
	}
	&__title {
		color: $col-ondark;
		padding: $pad-inner 0 6rem 0;
	}
.slide {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
	gap: 3rem;
		&__column {
			&_r {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
			}
			&_l {
				
			}
		}
		&__image {
			display: flex;
    	justify-content: center;
			position: relative;
			&::before {
				content: "";
				width: 16.5rem;
				height: 16.5rem;
				background-image: url('../img/Star.svg');
				position: absolute;
				top: 35.5rem;
				left: 7rem;
				background-repeat: no-repeat;
			}
			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				max-width: 37rem;
			}
		}
		&__text {
			@include flexbox();
			flex-direction: column;
			row-gap: 2.5rem;
			max-width: 47rem;
			position: relative;
			&::before {
				content: "";
				width: 6rem;
				height: 6rem;
				background-image: url('../img/quote-up.svg');
				position: absolute;
    		top: -6rem;
			}
		}
		&__par {
			color: $col-light;
			padding: 0.3rem 0;
		}
		&__title {
			font-weight: $fw-bold;
			color: $col-ondark;
			font-size: 3.6rem;
			line-height: 4.525rem;
		}
		&__c-name {
			font-size: 2rem;
			line-height: 2rem;
			font-weight: $fw-bold;
			color: $col-accent;
			padding: 0 0 0.8rem 0;
		}
		&__c-position {
			font-size: 1.6rem;
			line-height: 1.6rem;
			color: $col-light;
		}
		&__navigation {
			max-width: 47rem;
			padding: 6.7rem 0 0 0;
			text-align: right;
			& a {
				display: inline-block;
				width: 3.2rem;
				height: 3.2rem;
			}
		}
		&__left {
			padding-right: 1.2rem;
		}
	}
}		
@media (max-width: 1110px) {
	.slide {
		&__image {
			&::before {
				display: none;
			}
		}
		}		
}
@media (max-width: 430px) {
	.slide {
		&__text {
			top: 5rem;
		}
		}		
}
// === / TESTIMONIALS ===
// === CONTACT ===
.contact {
	padding-top: $pad-interblock;
		background-color: $col-ondark;
		&__grid-row {
			&_r {
			}
			&_l {
				padding: 2.8rem 0;
			}
		}
		&__images {
			padding: 0 0 0 0;
			&__rc {
				padding-right: 10rem;
			}
		}
		&__form-wrapper {		
			padding: 4rem 0 0 0 ;
		}

	.form {
		display: flex;
		flex-direction: column;
		row-gap: 2rem;
		& input, textarea {
			width: 100%;
			height: 6rem;
			margin: 0;
			padding: 2rem 2.1rem;
			box-sizing: border-box;
			font-size: 1.6rem;
			line-height: 2.011rem;
			color: $col-secondary;
			outline: none;
			border: 1px solid $col-primary;
			&:focus {
				border: 1px solid $col-accent;			
			}
		}
		&__row{

			&_dbl {
				display: flex;
				column-gap: 3rem;
				& input {
					flex: 0 1 27rem;
				}
			}
		}
		&_s {
			
		}
		&__fname {
			
		}
		&__lname {
			
		}
		&__email {
		}
		#message {
			height: 18rem;
		}
		#submit-c {
			border: none;
			color: $col-ondark;
			background-color: $col-accent;
			cursor: pointer;
			&:hover {
				background-color: darken($col-accent, 7%);
				color: $col-ondark;
			}
		}
	}
}
@media (max-width: 600px) {
	.form {
		&__row{

			&_dbl {
				flex-wrap: wrap;
				row-gap: 2rem;
				& #fname, #lname {
					flex: 0 1 100%;
				}
			}
		}
	}
}
@media (max-width: 850px) {
	.contact {
		padding-top: $pad-interblock * 0.7;
		&__images {
			&__rc {
				display: none;
			}
		}
	}
}
// === / CONTACT ===
// === FOOTER ===
.footer {
	color: $col-primary;
	& .wrapper-inner {
		padding: $pad-inner 0 1.8rem 0;
	}
	background-color: $col-background;
	&__container {
		padding-right: 8.6rem;
		@include flexbox();
		justify-content: space-between;
		margin-bottom: 5.5rem;
	}
	&__address {
		padding-right: 15rem;
		& p {
			line-height: 160%;
		}
	}
	&__copyright{
		text-align: center;
		font-size: 1.4rem;
		line-height: 1.8rem;
	}
}	
.footer-column {
	flex: 0 0 17%;
	font-size: 2rem;
	& a, p, h5 {
		margin-bottom: 1.8rem;
	}
	&__title {
		line-height: 3.2rem;
	}
	&__link {
		line-height: 2.5rem;
	}
}	
@media (max-width: 900px) {
	.footer {
		&__container {
			flex-direction: column;
		}
		&__address {
			padding-right: 0;
		}
	}
}
// === / FOOTER ===
@media (max-width: 430px) {
	.wrapper-inner {
		padding-bottom: 3rem;
	}
	.l2-title {
		font-size: 4.4rem;
		line-height: 4.4rem;
}
}

























